<h2>Sign Up</h2>
<div class="row">
  <div class="col-12">
    <label>First Name</label>
    <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="firstName" placeholder="Enter first name" required>
    <label>Last Name</label>
    <input type="text" id="inputLastName" class="form-control" [(ngModel)]="lastName" placeholder="Enter last name" required>
    <label>Email</label>
    <input type="email" id="signUpEmail" class="form-control" [(ngModel)]="email" placeholder="Enter email address" required>
    <label>Password</label>
    <input type="password" id="signupPassword" class="form-control" [(ngModel)]="password" placeholder="Enter password - minimum 8 chracters length" required>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signUp()">Sign Up</button>
  </div>
</div>