<!-- APP HEADER -->
<app-header></app-header>

<div class="container">
        <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-12 col-md-6 shadow-box-card at-reser-password">
                    <h2>Reset your password</h2>
                    <label>Email</label>
                    <input type="text" id="email" class="form-control" [(ngModel)]="email" placeholder="Enter email address"
                        required>
            
                    <label>Password</label>
                    <input type="password" id="Password" class="form-control" [(ngModel)]="password" placeholder="Enter password"
                        required>
            
                    <label>Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword"
                        placeholder="Enter password again" required>
                    <div>
                        <button class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Submit</button>
                    </div>
                </div>
            </div>
</div>